.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.centered2 {
  display: flex;
  justify-content: center;
}

input {
  background-color: white;
  height: 50%;
  width: 50%;
}

.introbutton {
  border: none;
  width: 250;
  opacity: 0.7;
  background-color: #fbd334;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  /* Remove outline on button click */
}

.introbutton:hover {
  outline: none;
  /* Remove outline on button click */
  opacity: 1;
  background-color: orange;
  border: none;
}

@keyframes flipIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.centeredtop {
  justify-content: center;
}

.centered-content {
  animation: flipIn 1s;
}

@keyframes flipButton {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.j {
}
